
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

        <nav class="navbar navbar-dark bg-dark" th:fragment="header">

            <div class="container-fluid"> 

                <div class="navbar-header">   

                    <a class="navbar-brand" href="#">

                        <!-- <img alt="nome" src="/imagens/nome.png" /> -->
                        <p style="color: white;font-weight: 800;">Javeirando</p>

                    </a>

                </div>

            </div>


        </nav>  

</html>
